{% extends 'base.html.twig' %}

{% block title %}New Personne{% endblock %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% block body %}
<h1>Create new Personne</h1>

{{ include('personne/_form.html.twig') }}

<a href="{{ path('personne_index') }}">back to list</a>
{% endblock %}
